<?xml version="1.0" encoding="UTF-8"?>

<plugin
	id="com.blocks.BCrashReporter"
	label="Crash Reporter"
	version="1.0.0"
	info="Blocks Crash Reporter">

	<requirement bundle="com.blocks.Blocks" version="1.0.0" />
	<requirement bundle="com.blocks.BLifecycle" version="1.0.0" />

	<extension point="com.blocks.BLifecycle.lifecycle">
		<applicationDidFinishLaunching class="BCrashReporterController sharedInstance" />
	</extension>
</plugin>